/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common CSS */
:root {
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth !important;
}

* {
    padding: 0;
    margin: 0;
}
