/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common CSS */

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

:root {
    --primary: #da2348;
    --white: #fdfdfd;
    --black: #100000;
    --black-2: #231401;
    --silver: #d7d7d7;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Heebo", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.darken-box {
    background-color: rgba(0, 0, 0, 0.1);
}

.custom-rounded {
    border-radius: 20px;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@layer components {
    .primaryHover {
    }

    .primary-btn {
        @apply py-2 md:py-3 px-5 text-sm font-medium text-white focus:outline-none bg-primary rounded-lg border border-primary hover:bg-primaryHover focus:ring-2 focus:z-10  focus:ring-primaryHover;
    }

    .secondary-btn {
        @apply py-2 md:py-3 px-5 text-sm font-medium text-white focus:outline-none bg-transparent rounded-lg border border-white hover:bg-white focus:ring-2 hover:text-primary focus:z-10  focus:ring-gray-300;
    }

    .secondary-btn {
        @apply py-2 md:py-3 px-5 text-sm font-medium text-white focus:outline-none bg-transparent rounded-lg border border-white hover:bg-white focus:ring-2 hover:text-primary focus:z-10  focus:ring-gray-300;
    }

    .tertiary-btn {
        @apply py-2 md:py-3 px-5 text-sm font-medium text-black focus:outline-none bg-transparent rounded-lg border border-black hover:border-primary hover:bg-primary focus:ring-2 hover:text-white focus:z-10  focus:ring-primary;
    }

    .yellow-btn {
        @apply py-2 md:py-3 px-5 text-sm font-medium text-white focus:outline-none bg-secondary rounded-lg border border-secondary hover:bg-secondaryHover focus:ring-2 focus:z-10  focus:ring-secondaryHover;
    }

    .custom-container {
        @apply p-10 md:p-20 lg:p-40;
    }

    .heading-1 {
        @apply text-xl md:text-5xl font-semibold;
    }

    .heading-2 {
        @apply text-xl md:text-4xl font-semibold;
    }

    .normal-text {
        @apply text-xs md:text-sm;
    }
}

/* Header Section */
.header-section {
}

.nav-sticky-bg {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Hero Section */
.hero-section {
    background-image: url("/images/hero-section-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Feature Section */
.feature-section {
    background-image: url("/images/feature-section-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.feature-card:hover .feature-card-text {
    height: 14rem;
}

.feature-card-text {
    outline: 10px solid rgba(253, 253, 253, 0.5);
    height: 9.5rem;
    transition: 0.5s ease-in-out;
    bottom: -4rem;
    transform: rotate(-10deg);
}

.feature-card-text-box {
    transform: rotate(25deg);
}

.rotate-back {
    transform: rotate(-15deg);
}

/* Team Section */
.team-section {
}

.team-card:hover .team-card-social-icons {
    opacity: 1;
}

.team-card-social-icons {
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

/* About Section */
.about-section {
    background-image: url("/images/feature-section-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Banner Section */
.banner-section {
}

/* Product Section */
.product-section {
    background-image: url("/images/product-section-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product-card:hover .product-card-btn-container {
    opacity: 1;
}

.product-card-btn-container {
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

/* Blog Section */
.blog-section {
}

/* Testimonial Section */
.testimonial-section {
}

.testimonial-card:hover > .testimonial-text {
    opacity: 1;
}

.testimonial-text {
    opacity: 0.2;
    transition: all 0.7s ease-in-out;
}

.testimonial-card:hover > .testimonial-icon {
    filter: invert(42%) sepia(80%) saturate(7035%) hue-rotate(334deg)
        brightness(87%) contrast(96%);
}

.testimonial-icon {
    transition: all 0.1s ease-in-out;
}

.testimonial-card-active .testimonial-text {
    opacity: 1;
}

.testimonial-card-active > .testimonial-icon {
    filter: invert(42%) sepia(80%) saturate(7035%) hue-rotate(334deg)
        brightness(87%) contrast(96%);
}

/* Pricing Section */
.pricing-section {
}

.pricing-card:hover {
    background-color: var(--black-2);
    color: white;
}

.pricing-card {
    transition: all 0.4s ease-in-out;
}

.pricing-card:hover .pricing-card-title {
    color: var(--primary);
}

.pricing-card-title {
    transition: all 0.4s ease-in-out;
}

.pricing-card:hover .pricing-card-btn {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
}

.pricing-card-btn {
    transition: all 0.4s ease-in-out;
}

.pricing-card:hover i {
    color: var(--white);
}

.pricing-card i {
    transition: all 0.4s ease-in-out;
}

.pricing-card:hover .pricing-card-info-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(47deg)
        brightness(108%) contrast(101%);
}

.pricing-card-info-icon {
    transition: all 0.1s ease-in-out;
}

.pricing-card-active {
    background-color: var(--black-2);
    color: white;
}

.pricing-card-active .pricing-card-btn {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
}

.pricing-card-active .pricing-card-info-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(47deg)
        brightness(108%) contrast(101%) !important;
}

.pricing-card-active .pricing-card-title {
    color: var(--primary);
}

.pricing-card-active i {
    color: var(--white);
}

/* Faq Section */
.faq-section {
    background-image: url("/images/feature-section-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.faq-item-container::-webkit-scrollbar {
    display: none;
}

.faq-item-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Footer Section */
.footer-section {
}
