/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common CSS */

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

:root {
    --primary: #da2348;
    --white: #fdfdfd;
    --black: #100000;
    --silver: #d7d7d7;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Heebo", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.darken-box {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@layer components {
    .primaryHover {
    }

    .primary-btn {
        @apply py-2 md:py-3 px-5 text-sm font-medium text-white focus:outline-none bg-primary rounded-lg border border-primary hover:bg-primaryHover focus:ring-2 focus:z-10  focus:ring-primaryHover;
    }

    .secondary-btn {
        @apply py-2 md:py-3 px-5 text-sm font-medium text-white focus:outline-none bg-transparent rounded-lg border border-white hover:bg-white focus:ring-2 hover:text-primary focus:z-10  focus:ring-gray-300;
    }

    .custom-container {
        @apply p-10 md:p-20 lg:p-40;
    }

    .heading-1 {
        @apply text-xl md:text-5xl font-semibold;
    }

    .heading-2 {
        @apply text-xl md:text-4xl font-semibold;
    }

    .normal-text {
        @apply text-xs md:text-sm;
    }
}

/* Header Section */
.header-section {
}

/* Hero Section */
.hero-section {
    background-image: url("/images/hero-section-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Feature Section */
.feature-section {
    background-image: url("/images/feature-section-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.feature-card {
    background-image: url("/images/feature-card-img-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.feature-card-text {
    clip-path: polygon(17% 38%, 100% 73%, 100% 100%, 0% 100%);
}

/* Team Section */
.team-section {
}

/* About Section */
.about-section {
}

/* Banner Section */
.banner-section {
}

/* Product Section */
.product-section {
}

/* Blog Section */
.blog-section {
}

/* Testimonial Section */
.testimonial-section {
}

/* Faq Section */
.faq-section {
}

/* Footer Section */
.footer-section {
}
